.product { margin-bottom: 5em; }

.key-products { font-size: 32px; line-height: 40px; }

section { padding: 10px 0; header { margin: 5em auto 60px auto; } }

.product_name
{
    font-size: 24px;
    line-height: 35px;
    margin-bottom: 15px;
}
